.auth-page {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #353439   0%, #BEDB41 100%);
}

.auth-card {
  width: 100%;
  max-width: 380px;
  background: rgba(255,255,255,0.05);
  padding: 28px;
  border-radius: 14px;
  backdrop-filter: blur(8px);
  box-shadow: 0 8px 30px rgba(0,0,0,0.25);
}